
    .box {
        background: orange;
        padding: 20px;
        border: 20px solid;
        border-radius: 40px;
        width: 50px;
        height: 20px;
    }

    a {
        font-family: Verdana;
        text-align: center;
    }

    .one {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-40%, -50%);
    }

    .gallery {
        position:absolute;
        top: 40%;
        left: 50%;
    }

    html {
        background-color: #333;
        color: #fff;
    }
