.box {
    background: blue;
    padding: 20px;
    border: 20px solid;
    border-radius: 40px;
    width: 50px;
    height: 20px;
}

a {
    font-family: Verdana;
    text-align: center;
    color: white
}

.one {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
}

.gallery {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    background-color: blue;
    width: 100px;
    /* Assuming you wanted to set a width */
}

html {
    background-color: #222222;
    color: #fff;
}

h {
    font-family: Verdana;
    color: white;
}

.idiots-login {
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-90%, -80%);

}

button {
    background-color: blue;
    width: 100px;
    /* Assuming you wanted to set a width */
}